#navBar {
.top_nav {
  background:#A58F33;
  color: white;
  direction: ltr !important;
  font-size: 1.7rem;
  overflow: hidden !important;
  .select_language {
    select {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: white;

      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      &:focus-visible {
        border: none !important;
        outline: none !important;
      }
      ul {
        background-color: white;
      }
      option {
        background-color: white !important;
        padding-block: 5px;
        cursor: pointer;
        color: black;
        &:active {
          color: #A58F33 !important;
        }

      }
      option:hover {
        background-color: lightgray !important;
      }
    }

  }
  .social_icons  {
    a {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      background: white !important;
      text-align: center;
      margin-inline: 1rem;;
      color: #A58F33;
      border-radius:50%;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      -ms-border-radius:50%;
      -o-border-radius:50%;
      -webkit-border-radius: 50%;
  }
      span{
        font-size: 2rem;
        line-height: 1.4;
        color: #A58F33 !important;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
      }
    }
}
.navbar  {
  background: transparent !important;
  position: relative;

  button {
    border: none;
    text-align: center;
  }
  li.active a {
    color: #A58F33;
    font-weight: bold;
  }
  a {
    font-size: 1.6rem;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    font-weight: 600;
    &:hover {
      color: #A58F33;
    }
  }
  svg {
    width: 225px;
    height: auto;
  }
  .navbar_buttons {
    ul {
      li {
        a {
          color: white;
          background-color: #A58F33;
        }
      }
    }
  }
  #menu {
  width: 100%;
  position: absolute;
  top: 100%;
  right:0;
  height: auto;
  background-color: #A58F33;
  z-index: 20;
    ul {

      li {
        margin-bottom: .5rem;
        border-bottom: 1px solid #ffffff4f;

        a{
          display: block;
          font-size: 1.3rem;
          color: white;
          padding: 10px;
          width: 100%;
          transition: .5s;
          -webkit-transition: .5s;
          -moz-transition: .5s;
          -ms-transition: .5s;
          -o-transition: .5s;
          margin-bottom: 1rem;
        }

      }
    }
  }
}
#menu li:hover  a{
  background: white;
  border-radius: 15px;
  color: #A58F33 !important;
}


//  toggle Btn
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-toggler.active {
  background-color: #A58F33;
}
.hamRotate.active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
}



// media queries
@media (max-width: 765px) {
.navbar {
  .navbar-brand {
    width: 50%;
  }
  svg {
    width: 50%;
  }
}
.top_nav {
  display: none;
}
}


// larg screen
@media  (min-width: 992px) {
#menu {
  display: none;
}
}
// iPad land scape
@media  (min-width: 992px) and (max-width: 1026px) {
.navbar {
  a {
    font-size: 1.5rem !important;
  }
}
}
// small screens
@media  (min-width: 768px) and (max-width: 991px) {
.navbar {
  #toggleBtn {
    height: 62px;
    svg {
      height: 100%;
    }
  }
}
}
@media  (max-width: 991px) {
.navbar {
  .navbar_buttons  {
    display: none !important;
  }
  .navbar-toggler--wrapper {
    display: inline-block !important;
  }
}
}

