<div id="ourClients" class="mb-5">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <h2 class="ourClients_title section_title text-center mb-5">
        <span class="highlighted-txt ">{{ 'WHAT' | translate }}</span>
        {{ 'AGENCIES_TITLE' | translate}}
      </h2>

      <div id="ourClientsTxt" class="ourClients_text section_text">
        <p>
          <span class="highlighted-txt">{{response.HighLightedText[translate.currentLang]}}</span>
          {{response.Text1[translate.currentLang]}}
        </p>
        <p>
          {{response.Text2[translate.currentLang]}}
        </p>
        <p>
          {{response.Text3[translate.currentLang]}}
        </p>
      </div>
      <a class="ourClients_btn mr-auto p-2 d-flex align-items-center justify-content-between " id="seeMoreBtn"
        (click)="seeMore()">
        <span class="d-inline">{{'MORE' | translate}}</span>
        <span class="fas fa-chevron-down icon  d-inline"></span>
      </a>
    </div>
    <!--  clients images -->
    <div class="row justify-content-start ourClients_img-wrapper">
      <div class="col-sm-6 col-md-2  mb-3 text-center ourClient_img" *ngFor="let agancyImg of agancyImgs">
        <img class="img-fluid w-75" [src]="agancyImg.agancyImgSrc" alt="agancy">
      </div>
    </div>
  </div>
</div>
