#services {
  color: #5D5D5E;
  .services_text {
    font-size: 1.5rem;
    height: 85px;
    overflow: hidden;
    padding: 10px;
    p {
      white-space: wrap;
    }
  }
  .seeMoreClicked {
    height: 100%;
  }
  a#seeMoreBtn {
    border: 1px solid #707070;
        width: 83px;
        color: #5D5D5E;
        border-radius: 10px;
        cursor: pointer;
        margin: 10px;
        font-size: 1.6rem;
    .icon {
      color: #A58F33;
    }
  }

// see more
@media (max-width:640px) {
  .services_text {
    height: 100%;
  }
  a#seeMoreBtn {
    display: none !important;
  }
}
}


