<div id="services">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <h2 class="services_title  text-center">
        <span class="highlighted-txt "> ماذا تقدم</span>
        لك رمز الاختيار ؟
      </h2>
      <div id="paragraphTxt" class="services_text">
        <p>
          <span class="highlighted-txt">هذا النص</span>
          هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل
          هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق .
        </p>
        <p>
          إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما
          ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان
          أن يطلع على صورة حقيقية لتصميم الموقع.
        </p>
        <p>
          ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر
          على
          المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق.
        </p>
      </div>
      <a class="services_btn mr-auto p-2 d-flex align-items-center justify-content-between " id="seeMoreBtn" (click)="seeMore()">
        <span class="d-inline">المزيد</span>
        <span class="fas fa-chevron-down icon  d-inline"></span>
      </a>
    </div>
  </div>
  <!-- carousel -->
  <app-services-carousel></app-services-carousel>
</div>
