#carOffersCarousel {
position: relative;
.cars_carousel-item.larg_screen {
  height: 100%;
  font-size: 1.6rem;
  .cars_carousel-item--img {
    min-height: 20vh;
    .label {
      z-index: 10;
      top: 0;
      left: 10%;
      background-color: #A58F33;
      color: white;
    }
    img {
      height: 30vh;
    }
  }
  // cars_carousel-item--data
  .cars_carousel-item--info {
    border-bottom: solid 0.3px #606060;
  }
  .cars_carousel-item--price {
    .price-before {
      line-height: 1em;
      position: relative;
      &::before, strike::before {
          top: 50%;
          background:red;
          opacity:.7;
          content: '';
          width: 110%;
          position: absolute;
          height:.1em;
          border-radius:.1em;
          left: -5%;
          white-space:nowrap;
          display: block;
          transform: rotate(-15deg);
      }

}
  }
  .cars_carousel-item--btns{
    ul {
      li {
        a {
          color: white;
          background-color: #A58F33;
          svg {
            flex: 0 0 14%;
            max-height: 4vh;
          }
        }
      }
    }
  }
}

.cars_carousel-item.mobile_screen {
  color: #4D4E4E !important;
  .cars_carousel-item--img {
    height: 30vh;
    .brand-img {
      z-index: 10;
      top: 0;
      left: 0;
      width: 20vw;
    }
  }
  .cars_carousel-item--data {

    .car-name {
      font-size: 1.8rem !important;
      font-weight: bold;
    }
    .brand-name {
      font-size: 1.7rem !important;
      opacity: .8;
    }
    .car-desc {
      font-size: 1.6rem !important;
      font-weight: 600;
      color: #4D4E4E !important;
    }
  }
  .cars_carousel-item--price {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    .price-before {
      line-height: 1em;
      position: relative;
      &::before, strike::before {
        top: 50%;
        opacity: 0.7;
        content: "";
        width: 85%;
        position: absolute;
        height: .3rem;
        border-radius: 0.1em;
        left: 15%;
        white-space: nowrap;
        display: block;
        transform: rotate(-15deg);
      }

    }
    .price-txt {
      border: 1px solid #DFDFDE;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      &::after {
        content:'\f30a';
        font-family: 'Font Awesome 5 Free' !important;
        font-weight:900 !important;
        display: block;
      }
    }
  }
  .cars_carousel-item--btns{
    ul {
      li {
        flex: 0 0 45%;
        a {
          color: white;
          background-color: #A58F33;
          svg {
            flex: 0 0 14%;
            max-height: 3vh !important;
          }
        }
      }
    }
  }
}
@media (min-width:640px) {
  .larg_screen {
    display: block;
  }
  .mobile_screen {
    display: none;

  }
}
@media (max-width:640px) {
  .larg_screen {
    display: none;
  }
  .mobile_screen {
    display: block;
  }
}
}


// swiper navigation custom styl
#mySwiper-offers {
  position: unset;
// swiper style
.swiper-slide {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.swiper-button-prev {
  right: 0;
}
.swiper-button-next {
  left: 0;
}
.swiper-button-next, .swiper-button-prev {
  &::after {
    font-size: 2.5rem;
    color: #A58F33 !important;
  }
}
//mobile style
.mySwiper-mobile {
  svg {
    width: inherit;
  }
}
}

