<div id="aboutUs" class="mb-5">
  <div class="container">
    <div class="row justify-content-center ">
      <h2 class="aboutUs_title section_title text-center mb-5">
        <span class="highlighted-txt "> نبذة عن</span>
        شركة رمز الاختيار
      </h2>
      <div id="paragraphTxt" class="aboutUs_text section_text">
        <p>
          <span class="highlighted-txt">هذا النص</span>
          هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل
          هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق .
        </p>
        <p>
          إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما
          ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان
          أن يطلع على صورة حقيقية لتصميم الموقع.
        </p>
        <p>
          ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر
          على
          المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق.
        </p>
      </div>
      <a class="aboutUs_btn mr-auto p-2 d-flex align-items-center justify-content-between " id="seeMoreBtn" (click)="seeMore()">
        <span class="d-inline">المزيد</span>
        <span class="fas fa-chevron-down icon  d-inline"></span>
      </a>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="about_us-img row justify-content-center">
          <img class="img-fluid col-md-4 book2" src="../../../../assets/images/home-page/book2.png" alt="ramz elekhtear profile">
          <img class="img-fluid col-md-8 book1"  src="../../../../assets/images/home-page/book1.png" alt="ramz elekhtear profile">
        </div>
        <div class="about_us-download">
          <div class="row  justify-content-center">
            <a class="iconsBG text-center" title="PDF" href='../../../../assets/about-us/ramz-profile.pdf' download="ramz-profile.pdf">
            <img class="img-fluid" src=".../../../../assets/images/home-page/downloadfile.svg" alt="download app google store">
              <p class="">لتحميل البروفايل الخاص بالشركة</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="about_us-img row justify-content-center">
          <img class="img-fluid"  src="../../../../assets/images/home-page/App_Screen_MockupsForFree.png" alt="ramz elekhtear apps">
        </div>
        <div class="about_us-download">
          <div class="row  justify-content-center">
            <a class="iconsBG text-center"  href='http://google.com' >
            <img class="img-fluid" src=".../../../../assets/images/home-page/downloadfile.svg" alt="download app google store">
              <p class="">لتحميل التطبيق الخاص بالشركة</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
