<footer id="footer">
  <!-- ***************** larg screens **************************** -->

  <div class="links-md links">
    <div class="container">
      <div class="row ">
        <div class="col-md-2 pl-3">
          <h6 class="links-header mb-4"> {{'CONTACT_US' | translate}}</h6>
          <ul class="links-contact mr-0">
            <li class="links-contact_item mb-2">
              <a href=""> <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span>{{'CUSTMR_SRV' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2">
              <a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span>{{'SALES' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span>{{'CMPLAINTS' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span>{{'GNRL_MNG' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-md-2 pl-3">
          <h6 class="links-header mb-4"> {{'BST_SELL' | translate}}</h6>
          <ul class="links-sales mr-0">
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'HYUNDAI' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'KIA' | translate}}</a></li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'CHEVROLET' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'ISOZO' | translate}}</a></li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'TYOTA' | translate}}</a></li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'OTHR_MARKS' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-md-2 pl-3">
          <h6 class="links-header mb-4">{{'COMP_BRANCHES' | translate}}</h6>
          <ul class="links-branches mr-0">
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span>{{'RIAD' | translate}}</a></li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'GADA' | translate}}</a></li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'GAZAN' | translate}}</a></li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'MDINA' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'TPUK' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-md-2 pl-3">
          <h6 class="links-header mb-4"> {{'CARS' | translate}}</h6>
          <ul class="links-cars mr-0">
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'CARS' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'OFFERS' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'SALE' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'GNRL_QST' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2"><a href="">
                <span class="fas {{'LINKS_ICON' | translate}} pl-2"></span> {{'OTHER' | translate}}</a>
            </li>

          </ul>
        </div>
        <div class="col-md-2 pl-3">
          <h6 class="links-header mb-4"> {{'DWNLD_APP_2' | translate}}</h6>
          <ul class="links-apps mr-0">
            <li class="links-contact_item mb-2">
              <a href="">
                <img src="../../../../assets/images/footer/appstore1.svg" class=" w-75 img-fluid">
              </a>
            </li>
            <li class="links-contact_item mb-2">
              <a href="">
                <img src="../../../../assets/images/footer/appstore2.svg" class=" w-75 img-fluid">

              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-2 pl-3">
          <h6 class="links-header mb-4"> {{'SBSCRIB' | translate}}</h6>
          <div class="mb-4">
            <input type="email" id="emailInput" class="w-100" placeholder=" {{'ENTR_EMAIL' | translate}}">
          </div>
          <div>
            <button id="subscibeBtn" class="w-100 text-center dark-btn-anim btn-border-anim">
              <span class="mx-2"> {{'SHARE' | translate}} </span>
              <span class="fas {{'SHARE_ICON' | translate}} mx-2"></span>

            </button>
            <p> {{'EMAIL_MSG' | translate}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class=" copy_right-md ">
    <div class="container">
      <div class="row justify-content-between align-items-center py-4">
        <div class="col-md-6 py-3">
          <h6 class="text-sm-center text-md-right"> {{'SIGNATURE' | translate}}</h6>
        </div>
        <div class="col-md-6   text-sm-center text-md-left py-3 social_icons">
          <ul class="d-inline-block">
            <li class="d-inline-block">
              <a href="">
                <span class="fab fa-instagram"></span>
              </a>
            </li>
            <li class="d-inline-block">
              <a href="">
                <span class="fab fa-twitter"></span>
              </a>
            </li>
            <li class="d-inline-block">
              <a href="">
                <span class="fab fa-snapchat-ghost"></span>
              </a>
            </li>
            <li class="d-inline-block">
              <a href="">
                <span class="fab fa-facebook-f"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="top_icon">
      <a href="/#nav">
        <span class="fas fa-chevron-up "></span>
      </a>
    </div>

  </div>

  <!-- ***************** small screens **************************** -->
  <div class="links-sm links ">
    <img src="../../../../assets/images/footer/car.svg" class=" img-fluid">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 links-contact mb-4">
          <h6 class="links-header text-center mb-3"> {{'SBSCRIB' | translate}}</h6>
          <div class="row no-gutters my-2">
            <div class="col-8">
              <input type="email" id="emailInput" class="w-100 " placeholder=" {{'ENTR_EMAIL' | translate}}">
            </div>
            <div class="col-4">
              <button id="subscibeBtn" class="w-100 text-center dark-btn-anim btn-border-anim">
                <span class="mx-2 "> {{'SHARE' | translate}}</span>
                <span class="fas fa-arrow-circle-left mx-2"></span>
              </button>
            </div>
          </div>
          <p> {{'EMAIL_MSG' | translate}}</p>

        </div>
        <div class="col-md-12 text-center social_icons mb-4">
          <ul class="d-inline-block mb-2 text-center">
            <li class="d-inline-block text-center">
              <a href="">
                <span class="fab fa-instagram"></span>
              </a>
            </li>
            <li class="d-inline-block text-center">
              <a href="">
                <span class="fab fa-twitter"></span>
              </a>
            </li>
            <li class="d-inline-block text-center">
              <a href="">
                <span class="fab fa-snapchat-ghost"></span>
              </a>
            </li>
            <li class="d-inline-block text-center">
              <a href="">
                <span class="fab fa-facebook-f"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-12 mb-4 download_apps">
          <h6 class="download_apps-title text-center mb-3">
            {{'DWNLD_APP_2' | translate}}</h6>
          <ul class="links-apps text-center d-flex justify-content-center">
            <li class="links-contact_item mb-2 d-inline-block text-center m-2">
              <a href="">
                <img src="../../../../assets/images/footer/appstore1.svg" class=" w-100 img-fluid">
              </a>
            </li>
            <li class="links-contact_item mb-2 d-inline-block text-center m-2">
              <a href="">
                <img src="../../../../assets/images/footer/appstore2.svg" class=" w-100 img-fluid">
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-12 mb-4 links_contact">
          <h6 class="links-header text-center mb-3">{{'CONTACT_US' | translate}}</h6>
          <ul class="links_contact-list row justify-content-around">
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""> <span
                  class="fas  fa-square pl-2"></span> {{'CUSTMR_SRV' | translate}}</a>
            </li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas  fa-square pl-2"></span>{{'SALES' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas  fa-square pl-2"></span> {{'CMPLAINTS' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas  fa-square pl-2"></span> {{'GNRL_MNG' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-md-12 mb-4 links_branches">
          <h6 class="links-header mb-4 text-center mb-3">{{'COMP_BRANCHES' | translate}}</h6>
          <ul class="links_branches-list  row  justify-content-around">
            <li class="links-contact_item mb-2  d-inline-block text-center"><a href=""><span
                  class="fas fa-square pl-2"></span>{{'RIAD' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'GADA' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'GAZAN' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span>{{'MDINA' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'TPUK' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-md-12 mb-4 links_cars">
          <h6 class="links-header mb-4 text-center mb-3"> {{'CARS' | translate}}</h6>
          <ul class="links_cars-list  row  justify-content-around">
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'CARS' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'OFFERS' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'SALE' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'GNRL_QST' | translate}}</a></li>
            <li class="links-contact_item mb-2 d-inline-block text-center"><a href=""><span
                  class="fas   fa-square pl-2"></span> {{'OTHER' | translate}}</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class=" copy_right-sm ">
    <div class="container">
      <div class="row justify-content-center align-items-center py-4">
        <p class="mb-0">
          {{'SIGNATURE_2_TXT' | translate}}<span class="px-1">{{'COMPNY_NAME' | translate}}</span>
          {{'SIGNATURE_2_YEAR' | translate}}
        </p>
      </div>
    </div>
  </div>


</footer>
