
@import './app/shared/styles/themes/bootstrap';

.rtl {
  @import './app/shared/styles/themes/_ar';
}
.ltr {
  @import './app/shared/styles/themes/_en';
}

//app style
@import './app/shared/styles/all.scss' ;

:root {
  font-size: 10px;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;

}
.direction-ltr {
  direction: ltr;
  unicode-bidi: bidi-override;
}
.direction-rtl {
  direction: rtl;
  unicode-bidi: bidi-override;
}

body {
  font-family: 'Cairo', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 0 !important;
}

a{
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}
// media query
@media (max-width:768px) {
  a,p,div,li,button {
    font-size: 1.4rem;
  }
}


