.homePage_section-two {
  background-image: url('../../assets/images/home-page/bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;

}

.homePage_section-companies {
  background-image: url('../../assets/images/home-page/bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;

}
